@charset 'UTF-8';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}

header{
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
}

a {	
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 20px;
}

header .headline{
  font: 3em/1 serif;
  margin-left: 0px;
  text-align: left;
}

.sp-nav {
  display: none;
}

@media screen and (max-width: 640px) {
  header{
    padding: 0px 4% 0px;
    width: auto;
  }
  header .headline{
    font: 6em/1 serif;
    margin-left: 10px;
    writing-mode: vertical-rl;
  }
  ul{
    color: #ffffff;
  }
  .pc-nav {
     display: none;
  }
  #hamburger {
    padding-right: 30px;
    position: relative;
    display: block;
    height: 25px;
    margin: 0 0 0 auto;
  }
  #hamburger span {
   position: absolute;
   top: 50%;
   left: 0;
   display: block;
   width: 100%;
   height: 2px;
   background-color: rgb(189, 189, 189);
   transform: translateY(-50%);
 }
 #hamburger::before {
   content: '';
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: rgb(189, 189, 189);
 }
 #hamburger::after {
   content: '';
   display: block;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 70%;
   height: 2px;
   background-color: rgb(189, 189, 189);
}
 .sp-nav {
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: block;
   width: 100%;
   background: rgb(189, 189, 189);
   transition: all .2s ease-in-out;
   opacity: 0;
   transform: translateY(-100%);
}
 .sp-nav ul {
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}
 .sp-nav li {
   margin: 0;
   padding: 0;
}
 .sp-nav li span {
   font-size: 15px;
   color: #fff;
}
 .sp-nav li a, .sp-nav li span {
   display: block;
   padding: 20px 0;
}
/*基準となるli要素*/
 .sp-nav .close {
   position: relative;
   padding-left: 20px;
}
/*バツ印線1*/
 .sp-nav .close::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   display: block;
   width: 16px;
   height: 1px;
   background: #fff;
   transform: rotate( 45deg );
}
/*バツ印線2*/
 .sp-nav .close::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   display: block;
   width: 16px;
   height: 1px;
   background: #fff;
   transform: rotate( -45deg );
}
 .toggle {
   transform: translateY( 0 );
   opacity: 1;
 }
 .main-visual {
   padding: 0 4%;
 }
 h2 {
   line-height: 1.6;
   text-align: center;
  }
}

h1{
  width: 80vw;
}

@media (max-width: 4000px) {
  .c-txtsp{ 
    font: 2em/1.6 serif;
    margin-left: 130px;
    overflow: scroll;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    column-count: 2;
    column-rule: solid 1px #ccc;
    column-gap: 2rem;
    width: 70vw;
  }
}

@media (max-width: 1200px) {
  .c-txtsp{
     font: 2em/1.6 serif; 
     margin-left: 50px;
     overflow: scroll;
     -ms-writing-mode: tb-rl;
     writing-mode: vertical-rl;
     column-count: 2;
     column-rule: solid 1px #ccc;
     column-gap: 2rem;
     width: 70vw;
    }
}

@media (max-width: 675px) {
  .c-txtsp{
     font: 1.1em/1.6 serif; 
     margin-left: 0px;
     overflow: scroll;
     -ms-writing-mode: tb-rl;
     writing-mode: vertical-rl;
     column-count: 2;
     column-rule: solid 1px #ccc;
     column-gap: 2rem;
     width: 70vw;
    }
}

@media (max-width: 4000px) {
  .txtsp{ 
    font: 1.44em/1.6 serif;
    margin-left: 100px;
  }
}

@media (max-width: 1200px) {
  .txtsp{
    font: 2em/1.6 serif;
    margin-left: 50px;
    }
}

@media (max-width: 675px) {
  .txtsp{
    font: 1.1em/1.6 serif;
    margin-left: 0px;
    }
}

.txtsp{
  width: 70vw;
}

.c-txtsp{
  overflow: scroll;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  column-count: 2;
  column-rule: solid 1px #ccc;
  column-gap: 1.5rem;
  width: 70vw;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: rgba(240, 241, 221, 0.884);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90vw;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #1d006d;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 25px;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #1d006d;
  color: #fff;
}

body {
	margin-bottom: 0px;
}
footer {
	display: inline-block;
	width: 100%;
	height: 70px;
	margin-top: 30px;
	background-color: #9E9E9E;
	box-shadow: 0 -3px 3px 0 rgba(0,0,0,0.2);
}
footer .copyright {
	float: left;
	width: 60%;
}
footer .copyright p {
	font-size: 0.7em;
	line-height: 70px;
	padding-left: 10%;
	letter-spacing: 1px;
	color: #ffffff;
}
footer .sns {
	float: right;
	width: 40%;
}
footer .sns a {
	width: 25%;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 70px;
	float: left;
	-webkit-transition: all, 0.3s;
	        transition: all, 0.3s;
	text-align: center;
	text-decoration: none;
	color: white;
}
footer .sns a:hover {
	-webkit-transition: all, 0.3s;
	        transition: all, 0.3s;
	background-color: #222222;
}
footer .sns .insta {
	background-color: #e4405f;
}
footer .sns .fb {
	background-color: #3b5999;
}
footer .sns .tw {
	background-color: #55acee;
}
footer .sns .contact {
	background-color: #26C6DA;
}
@media (max-width: 480px) {
	.contents {
		margin-bottom: 200px;
	}
	footer {
		height: auto;
	}
	footer .copyright {
		width: 100%;
	}
	footer .copyright p {
		padding: 0;
		text-align: center;
	}
	footer .sns {
		width: 100%;
	}
}
